<div class="purchase">
 <div class="container-fulid">
  <div class="row">
    <div class="col-lg-1">
     </div>
    <div class="col-lg-10">
      <div class="order_index">
        <h2>ユーザー一覧</h2>
        <table class="table table-striped order_index_table">
          <thead class="order_table_head">
            <tr>
              <th class="col-sm-1 order-index-th">ID</th>
              <th class="col-sm-3 order-index-th">氏名</th>
              <th class="col-sm-3 order-index-th">フリガナ</th>
              <th class="col-sm-3 order-index-th">メールアドレス</th>
              <th class="col-sm-2 order-index-th"></th>
            </tr>
          </thead>
          <% @users.each do |user| %>
          <tbody>
            <tr>
              <td class="order_index_td"><%= user.id %></td>
              <td class="order_index_td"><%= user.user_name %></td>
              <td class="order_index_td"><%= user.user_phonetic %></td>
              <td class="order_index_td"><%= user.email %></td>
              <td class="order_index_td show_link_btn"><div class="edit_link"><%= link_to "詳細",user_path(user.id)%></div>
              <% if User.exists?(delete_flag: !"false") %>
              <div class="unsubscribe_link"><%= link_to "退会", "/users/#{user.id}/soft_delete" %></div> </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-1">
    </div>
  </div>
 </div>
</div>
