<div class="user-show-back">
 <div class="container">
  <div class="row">
    <div class="user-show col-lg-3">
      <h2>登録情報</h2>
        <table class="table table-striped">
         <tr>
          <td>名前</td><td><%= @user.user_name %></td>
         </tr>
         <tr>
          <td>かな</td><td><%= @user.user_phonetic %></td>
         </tr>
         <tr>
          <td>〒</td><td><%= @user.postal %></td>
         </tr>
         <tr>
          <td>住所</td><td><%= @user.address %></td>
         </tr>
         <tr>
          <td>☎︎</td><td><%= @user.tell %></td>
         </tr>
         <tr>
          <td>✉︎</td><td><%= @user.email %></td>
         </tr>
        </table>
        <% if admin_signed_in? %>
        <div>
        <% if @user.delete_flag == false %>
          <%= link_to "退会", "/users/#{@user.id}/soft_delete",class:'btn btn-danger soft_delete_btn', data: {confirm: "本当に退会させてよろしいですか？"} %>
          <% else %>

           <%= link_to "復旧", "/users/#{@user.id}/restoration",class:'btn btn-danger restoration_btn', data: {confirm: "本当に復旧させてよろしいですか？"}  %>
        <% end %>
      </div>
      <% end %>
        <%= link_to "登録情報を変更する",edit_user_path ,class:'btn btn-info' %>
        <% if admin_signed_in? %>
        <% if @unsubscribe_comment %>
          <h2>退会コメント</h2>
          <div class="comment"><%= @unsubscribe_comment.comment %></div>
        <% end %>

        <div class="link_tag_1">
        <%= link_to "ユーザー一覧に戻る",users_path %>
      </div>
      <% end %>
   </div>

   <div class="user-box col-lg-9">
      <h2>購入履歴</h2>

<% if @orders %>
  <% @orders.each do |order| %>

        <table class="table table-striped">

      <tr class="info">
        <th class="th-purchase">購入日</th>
        <th class="th-purchase">購入番号</th>
        <th class="th-purchase">購入商品</th>
        <th class="th-purchase">合計金額</th>
　　　　　<th class="th-purchase"> 注文状況 </th>
        <th class="th-purchase">詳細</th>
      </tr>
      <tr>
        <td class="td-purchase"><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <td class="td-purchase"><%= order.order_number %></td>
        
        <td class="td-purchase"><%= order.total_price%></td>
        <td class="td-purchase"><%= order.status.shipment_status%></td>
        <td class="td-purchase"><%= link_to "詳細","/orders/#{order.id}"%></td>
      </tr>

<% end %>
<% else %>
<div>表示する履歴はありません</div>
<% end %>
    </table>
  </div>
  </div>
 </div>
</div>
