<div class="container-fulid">
  <div class="row user_search">
        <div class="col-lg-7"></div>
        <div class="col-lg-5">
          <div class="order_search">
            <%= search_form_for @search, html: {class: 'form-inline'} do |f| %>
            <%= f.label :order_number_cont, "購入番号検索" %>
            <%= f.search_field :order_number_cont, class:'form-control', :size => '30' %>
            <%= f.submit "検索" , class: 'btn btn-default btn-sm' %>
          <% end %>
          </div>
        </div>
      </div>
  <div class="row">
    <div class="col-lg-1">
     </div>
    <div class="col-lg-10">
      <div class="order_index">
        <h2 class="user_header">購入履歴一覧</h2>
        <table class="table table-striped order_index_table">
          <thead class="order_table_head">
            <tr>
              <th class="col-sm-2 order-index-th">購入番号</th>
              <th class="col-sm-2 order-index-th">ユーザーネーム</th>
              <th class="col-sm-3 order-index-th">購入日時</th>
              <th class="col-sm-2 order-index-th">合計金額</th>
              <th class="col-sm-2 order-index-th">ステータス</th>
              <th class="col-sm-1"></th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order|  %>
            <tr>
              <td class="order_index_td"><%= order.order_number %></td>
              <td class="order_index_td"><%= order.user.user_name %></td>
              <td class="order_index_td"><%= order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
              <td class="order_index_td"><%= order.total_price.to_s(:delimited) %> 円</td>
              <td class="order_index_td"><%= order.status.shipment_status %></td>
              <td class="order_index_td show_link_btn"><%= link_to '詳細', user_order_path(order.user.id,order.id) %></a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-sm-5"></div>
    <div class="col-sm-2"><%= paginate @orders, class: "pagenate" %></div>
    <div class="col-sm-5"></div>
  </div>
</div>