<div class="purchase">
  <div class="container">
    <div class="row">
      <div class="col-lg-1">
        </div>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-12">
                <h2 class="number-color">注文商品詳細</h2>
              </div></div>
             <div class="row">
              <div class="col-lg-5">
                <h3>購入番号［<%= @order.order_number%>］</h3>
                  </div>
                <div class="col-lg-4"></div>
                 <div class="col-lg-3">
                  <% if admin_signed_in? && @order.status_id != 5 %>
                    <%= form_for([@user,@order]) do |f| %>
                      <%= f.collection_select(:status_id, @limit, :id, :shipment_status) %>
                       <%= f.submit "変更する", class: "btn btn-info" %>
                    <% end %>
                  <% end %>

                 <% if admin_signed_in? && @order.status_id == 5 %>
                    <%= form_for([@user,@order]) do |f| %>
                     <%= f.hidden_field :status_id, :value => 6 %>
                      <%= f.submit "キャンセルする", class: "btn btn-danger",data: { confirm: 'キャンセルしますか?' }%>
                   <% end %>
                 <% end %>
               </div>
          </div>

      <div class="purchase-detail clearfix">
         <div class="purchase1">
             <div class="date">
               <h5> 購入日</h5>
              <div>
                <h5> <%= @order.created_at.strftime('%Y/%m/%d')%></h5>
                </div>
              </div>
                <div class="order-user">
                  <h5>購入者</h5>
                   <div>
                     <h5> <%= @order.user.user_name %></h5>
                   </div>
                 </div>
                <div class="order-address .order-address1">
                      <h5>送付先住所</h5>
                     <div>
                       <h5> <%= @order.sub_address.sub_address %></h5>
                    </div>
                    </div>
                    <div class="order-payment">
                      支払い方法
                        <div>
                        <h5><%= @order.payment.payment_method %></h5>
                       </div>
                    </div>
                <div class="status">
                  <h5>配送状況</h5>
                  <div>
                    <h5><%= @status.shipment_status %></h5>
                </div>
             </div>
          </div>

           <% @order.order_items.each do |o| %>
       <div class="purchase2">
         <div class="purchase2-image">
            <%= link_to product_path(o.product) do %>
            <%= attachment_image_tag o.product, :image, :fill, 117, 117, format: 'jpeg' ,fallback: 'no_image.jpg', :size => '117x117'%>
            <% end %>
           </div>
              <div class="purchase-artist-box">
                <div class="purchase-product">
                  <h4><%= o.product.product_name %></h4>
                  </div>
                   <div class="purchase-artist">
                     <h4> <%= o.product.artist.artist_name %></h4>
                   </div>
                   <div class="purchase-price">
                  <h5>単価：<%= o.order_item_price.to_s(:delimited) %>円</h5>
                 </div>
               </div>
                <div class="purchase-subtotal">
                 <% @subtotal = o.order_item_price*o.order_quantity %>
                 <% @total_price += @subtotal %>
                <h5> 小計：<%= @subtotal.to_s(:delimited) %>円</h5>
              </div>
               <div class="purchase-amount">
              <h5>購入数：<%= o.order_quantity %></h5>
            </div>
         </div>
          <% end %>
          <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
              <table class="os_table">
                <tbody>
                  <%if @total_price >= 10000 %>
                  <tr>
                    <td>合計金額：</td>
                    <td><%= @total_price.to_s(:delimited) %>円</td>
                  </tr>
                  <tr>
                    <% @discount = @total_price*0.1 %>
                    <% @discount = @discount.floor %>
                    <td>まとめ買い割：</td>
                    <td class="c_discount">-<%= @discount.to_s(:delimited) %>円</td>
                  </tr>
                  <tr class="c_pay">
                    <td>請求金額（税込）：</td>
                    <td><%= @order.total_price.to_s(:delimited) %>円</td>
                  </tr>
                  <% else %>
                  <tr>
                    <th>請求金額（税込）：</th>
                    <th><%= @order.total_price.to_s(:delimited) %>円</th>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="mypage-link">
             <%= link_to "マイページへ戻る", user_path(@user), class: "btn btn-info" %>
             </div>
            <% if @order.status_id == 1 %>
            <%= form_for ([@user,@order]) do |s| %>
                 <div class="cancel">
                  <%= s.hidden_field :status_id, :value => 5 %>
                  <%= s.submit "キャンセルリクエスト", class: "btn btn-warning", data: { confirm: 'キャンセルリクエストを送信しますか?'}  %>
                 </div>
                 <% end %>
             <% end %>
       </div>
    </div>

    <div class="col-lg-1">
    </div>
  </div>
 </div>
</div>
