<h1>Tunes#new</h1>
<p>product_id:<%= @disc.product.id %> disc_id:<%= @disc.id %></p>
<table class="table">
	<h2>Tunes</h2>
	<thead>
		<tr>
			<th>曲順</th>
			<th>曲名</th>
			<th>アーティスト名</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @tunes.each do |tune| %>
			<tr>
				<td><%= tune.tune_number %></td>
				<td><%= tune.tune_name %></td>
				<td><%= tune.artist.artist_name %></td>
				<td><%= link_to "delete", disc_tune_path(@disc.id, tune.id),  method: :delete %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= form_for [@disc,@tune] do |f| %>
	<label for="tune_number">曲順</label>
	<%= f.number_field :tune_number %>
	<label for="tune_name">曲名</label>
	<%= f.text_field :tune_name %>
	<label for="artist_id">アーティスト</label>
	<%= f.text_field :artist_id, :list => "artist_list", :autocomplete => "off" %>
	<datalist id="artist_list">
		<% @artists.each do |artist| %>
			<option value="<%= artist.artist_name %>"><%= artist.artist_name %></option>
		<% end %>
	</datalist>
	<%= f.submit %>
<% end %>
<p>
	<% @discs.each do |disc| %>
		<%= link_to "Disc#{disc.disc_number}", new_disc_tune_path(disc.id) %>
	<% end %>
</p>
<p>
	<%= link_to "入力終了", products_path %>
</p>