<section class="password_reminder_container">
  <div class="headline_box">
    <h2 class="password_reminder_headline">パスワードリマインダー</h2>
  </div>
  <table border="1" class="password_reminder_table">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
      <tr>
        <div class="field">
          <th><%= f.label :メールアドレス %><br /></th>
          <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
        </div>
      </tr>
  </table>
  <div class="actions">
    <%= f.submit "送信",class: "post_btn" %>
  </div>
  <% end %>
  <%= render "users/shared/links" %>
</section>
