<div class="container-fulid">
	<div class="row product_index_back">
		<div class="col-lg-2"></div>
		<div class="col-lg-8 product_index_main">
			<h2 class="pi_title">登録商品一覧</h2>
			<% @products.each do |p| %>
			<div class="row">
				<div class="pi_box clearfix">
					<div class="col-lg-2">
						<div class="pi_image">
							<%= link_to product_path(p) do %>
								<%= attachment_image_tag p, :image, :fill, 90, 90, format: 'jpeg', fallback: 'no_image.jpg', :size => '90x90' %>
							<% end %>
						</div>
					</div>
					<div class="col-lg-4">
						<%= link_to product_path(p) do %>
							<h3 class="pi_pname"><%= p.product_name %></h3>
						<% end %>
						<p class="pi_aname"><%= p.artist.artist_name %></p>
						<% if p.delete_flag == true %>
							<p class="pi_delete">削除済み</p>
						<% end %>
					</div>
					<div class="col-lg-3">
						<p class="pi_info pi_top">価格: <%= p.product_price.to_s(:delimited) %>円</p>
						<p class="pi_info">発売日: <%= p.release %></p>
					</div>
					<div class="col-lg-3">
						<p class="pi_info pi_top">在庫数: <%= p.stock %> 個</p>
						<p class="pi_info">累計販売数: <%= p. order_item_count %> 個</p>
						<span class="pi_link"><%= link_to '編集', edit_product_path(p) %></span>
					</div>
				</div>
			</div>
			<% end %>
		</div>
		<div class="col-lg-2"></div>
	</div>
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4 pi-wata"><%= paginate @products, class: "pagenate" %></div>
		<div class="col-sm-4"></div>
	</div>
</div>
