<%= render 'products/sidebar', genres: @genres %>


<div class="top-box2">
		<h3 class="sarch-word">検索ワード"<%= params[:q][:product_name_or_product_phonetic_cont] %>"</h3>
		<%if params[:q][:product_name_or_product_phonetic_cont] == "" %>
			<div class="null-word">※ 検索ワードの指定が無いため、全商品を表示しています</div>
		<% end %>

<div class="float-space-onsearch">
<% @search_products.each do |product| %>

    <div class="sarch-products-box1">
    	<%= link_to product_path(product), :style=>"text-decoration: none; color:black;" do %>
    		<div class="search-product-image">
    			<%= attachment_image_tag product, :image, :fill, 150, 150, format: 'jpeg', fallback: 'no_image.jpg', :size => '150x150' %>
    		</div>
    		<div>
    			<div class="search-product-name"><%= product.product_name.truncate(17) %></div>
    			<div class="search-product-artist"><%= product.artist.artist_name.truncate(17) %></div>
    			<div class="search-product-price"><%= product.product_price.to_s(:delimited) %>円</div>
    		</div>
    	<% end %>
    </div>
 <% end %>

</div>
<div class="pagenate-space">
<%= paginate @search_products, class: "pagenate" %>
</div>
<div class="newproduct-space">
			<div class="product-heading">新着一覧</div>
			<% @same_genre.order("release DESC").first(5).each do |t| %>
			<%= link_to product_path(t), :style=>"text-decoration: none; color:black;" do %>
			<div class="rankin-product">
				<div class="ranking-integer">発売日：<%= t.release %></div>
				<div class="ranking-image"><%= attachment_image_tag t, :image, :fill, 130, 130, format: 'jpeg', fallback: 'no_image.jpg', :size => '130x130' %></div>
				<div class="ranking-artist-text"><%= t.artist.artist_name.truncate(13) %></div>
				<div class="ranking-product-text"><%= t.product_name.truncate(13) %></div>
			</div>
			<% end %>
			<% end %>

		</div>
	</div>
</div>
