<div class="top-main">
	<div class="sidebar-space"></div>
		<div class="genre-box">
		<div class="genre-title">
			<p class="genre-title-text">カテゴリーで探す</p>
		</div>
		<ul class="genre-list">
<!-- ジャンル検索 -->

			<% @genres.each do |genre| %>
				<%=link_to genre_path(genre), :style=>"text-decoration: none;" do %>
				<li class="genre-list-item">
					<%= genre.genre_name %>
				</li>
				<% end %>
			<% end %>
		</ul>
	</div>


<div class="top-box2">
		<h3 class="sarch-word">検索ワード"<%= params[:q][:product_name_or_product_phonetic_cont] %>"</h3>
		<%if params[:q][:product_name_or_product_phonetic_cont] == "" %>
			<div class="null-word">※ 検索ワードの指定が無いため、全商品を表示しています</div>
		<% end %>

<div class="float-space-onsearch">
<% @search_products.each do |product| %>

    <div class="sarch-products-box1">
    	<%= link_to product_path(product), :style=>"text-decoration: none; color:black;" do %>
    		<div class="search-product-image">
    			<%= attachment_image_tag product, :image, :fill, 150, 150, format: 'jpeg' %>
    			<%= attachment_image_tag product, :image, :fill, 150, 150, format: 'jpeg', fallback: 'no_image.jpg', :size => '150x150' %>
    		</div>
    		<div>
    			<div class="search-product-name"><%= product.product_name %></div>
    			<div class="search-product-artist"><%= product.artist.artist_name %></div>
    			<div class="search-product-price"><%= product.product_price.to_s(:delimited) %>円</div>
    		</div>
    	<% end %>
    </div>
 <% end %>

</div>
<div class="pagenate-space">
<%= paginate @search_products, class: "pagenate" %>
</div>
	</div>
</div>
