
<!-- main部分 -->
<div class="top-main clearfix">
<div class="sidebar-space"></div>
	<div class="genre-box">
		<div class="genre-title">
			<p class="genre-title-text">カテゴリーで探す</p>
		</div>
		<ul class="genre-list">
		<li class="genre-list-item">J-Pop</li>
		<li class="genre-list-item">ロック</li>
		<li class="genre-list-item">ジャズ</li>
		<li class="genre-list-item">カントリー</li>
		<li class="genre-list-item">ブルース</li>
		<li class="genre-list-item">クラブ</li>
		<li class="genre-list-item">アニメ</li>
		</ul>
	</div>
	<div class="top-box2">
		<div class="product-detail clearfix">
			<div class="product-detail-image">
				<%= image_tag @product.image_id.url(:thumb) unless @product.image_id.blank? %></td>
			</div>

			<div class="in-the-cart-field">
				<div class="cart-price">
				 価格：<%= @product.product_price %>円
			    </div>
			  <%= form_tag(add_item_path, method: :post) do %>
				<div class="quantity-setting">
				 個数選択<%= number_field_tag :cart_quantity,'', class: 'form-control' %>
				</div>
				<div class="in-the-cart">
			　<%= submit_tag "カートに入れる", class: "btn btn-primary" %>
				</div>
			　<% end %>
			</div>

			<div class="product-detail-field1">
				<div><h2><%= @product.product_name %></h2>
				</div>
				<div><h3><%= @product.artist.artist_name %></h3>
				</div>
				<div>ジャンル：<%= @product.genre.genre_name %>
				</div>
				<div><%= @product.disc_amount %>枚組
				</div>
				<div>発売日：<%= @product.release %>
				</div>
				<div>在庫数：<%= @product.stock %>
				</div>

			</div>
			<div class="product-detail-field2">
				<%= @product.description %>
			</div>
			<div class="product-detail-field3">
				<table>
					<% @product.discs.each do |disc| %>

						Disc：<%= disc.disc_number %>
						<br>
						<br>
						<% disc.tunes.each do |tune| %>
							<tr>
							 <td><%= tune.tune_number %>：</td>
							 <td><%= tune.tune_name %></td>
							</tr>
						<% end %>
					<% end %>
				</table>

			</div>
		</div>

　　　　　　<%= flash[:danger] %>

		<div class="product-comment">
			<div class="review-count">
				<% if @product.reviews.count == 0 %>
				 レビューはまだありません。
				<% else %>
			     <%= @product.reviews.count %>件のレビュー
			    <% end %>
		    </div>
		     <ol>
			  <% @product.reviews.each do |review| %>
			  <li class="user-comment">
			    <div>
				 ユーザー：<%= review.user.user_name %>
				</div>
				<div>
				 投稿日：<%= review.created_at.strftime('%Y/%m/%d') %>
				</div>
				<div class="comment-box">
				 コメント：<%= review.comment %>
				</div>
				<div class="comment-delete">
					<% if review.user == current_user %>
					<%= link_to "削除",product_review_path(product_id: @product.id, id: review.id), method: :delete %>
					<% end %>
				</div>
			  </li>
			 <% end %>
			</ol>
		</div>

           <% if user_signed_in? %>
		<div class="product-comment-newbox">
			レビューを書く
			<%= form_for [@product, @review] do |f| %>

                <%= f.text_area :comment, rows:'5', class: "form-control"%>
                 <%= f.submit "送信する", class: "btn btn-lg btn-primary btn-block pull-right" %>
             <% end %>
		</div>
		<% end %>

		<div class="newproduct-space3 clearfix">
			<div class="product-heading">新着一覧</div>
			<div class="rankin-product">
				<div class="ranking-integer">発売日</div>
				<div class="ranking-image"></div>
				<div class="ranking-artist-text"><p>Artist名</p></div>
				<div class="ranking-product-text"><p>商品名</p></div>
			</div>
			<div class="rankin-product">
				<div class="ranking-integer">発売日</div>
				<div class="ranking-image"></div>
				<div class="ranking-artist-text"><p>Artist名</p></div>
				<div class="ranking-product-text"><p>商品名</p></div>
			</div>
			<div class="rankin-product">
				<div class="ranking-integer">発売日</div>
				<div class="ranking-image"></div>
				<div class="ranking-artist-text"><p>Artist名</p></div>
				<div class="ranking-product-text"><p>商品名</p></div>
			</div>
			<div class="rankin-product">
				<div class="ranking-integer">発売日</div>
				<div class="ranking-image"></div>
				<div class="ranking-artist-text"><p>Artist名</p></div>
				<div class="ranking-product-text"><p>商品名</p></div>
			</div>
			<div class="rankin-product">
				<div class="ranking-integer">発売日</div>
				<div class="ranking-image"></div>
				<div class="ranking-artist-text"><p>Artist名</p></div>
				<div class="ranking-product-text"><p>商品名</p></div>
			</div>
		</div>
	</div>
</div>
