
<!-- main部分 -->
<div class="top-main clearfix">
<div class="sidebar-space"></div>
	<div class="genre-box">
		<div class="genre-title">
			<p class="genre-title-text">カテゴリーで探す</p>
		</div>
		<ul class="genre-list">
<!-- ジャンル検索 -->

			<% @genres.each do |genre| %>
				<%=link_to genre_path(genre), :style=>"text-decoration: none;" do %>
				<li class="genre-list-item">
					<%= genre.genre_name %>
				</li>
				<% end %>
			<% end %>
		</ul>
	</div>
	<div class="top-box2">
		<div class="product-detail clearfix">
			<div class="product-detail-image">
				<%= attachment_image_tag @product, :image, :fill, 200, 200, format: 'jpeg' %>
			</div>

			<div class="in-the-cart-field">
				<div class="cart-price">

				 価格：<%= @product.product_price.to_s(:delimited) %>円<span class="tax">(税込)</span>
			    </div>
			  <%= form_for [@product, @cart_item] do |f| %>
				<div class="quantity-setting">
				 個数選択<%= f.number_field :cart_quantity, class: 'form-control', min: 1 ,max: @product.stock %>
				</div>
				<div class="in-the-cart">
			　<%= f.submit "カートに入れる", class: "btn btn-primary" %>
				</div>
			　<% end %>
			</div>

			<div class="product-detail-field1">
				<div><h2><%= @product.product_name %></h2>
				  </div>
				<div><h3><%= @product.artist.artist_name %></h3>
				  </div>
				<div>ジャンル：<%= @product.genre.genre_name %>
				</div>
				<div><%= @product.disc_amount %>枚組
				</div>
				<div>発売日：<%= @product.release %>
				</div>
				<div>在庫数：<%= @product.stock %>
				</div>
			</div>

			<div class="product-detail-field2">
				<%= @product.description %>
			</div>

			<div class="product-detail-field3">
					<% @product.discs.each do |disc| %>
					<table class=" table table-striped">
						<th>Disc<%= disc.disc_number %></th>
						  <br>
						  <br>
						<% disc.tunes.each do |tune| %>
							<tr>
							 <td><%= tune.tune_number %>：<%= tune.tune_name %></td>
							</tr>
						<% end %>
				</table>
			</div>
		<% end %>
		</div>

　　　　　　<%= flash[:danger] %>

		<div class="product-comment">
			<% if @product.reviews.count == 0 %>
			<div class="review-count">
				 レビューはまだありません。
			  </div>
				<div style="height:50px">
				 	商品を気に入ったらレビューしてね☆
				  </div>
				<% else %>
				<div class="review-count">
			     <%= @product.reviews.count %>件のレビュー
			 </div>
			    <% end %>
		     <ol>
			     <% @product.reviews.each do |review| %>
			  <li class="user-comment">
			    <div>
				  ユーザー：<%= review.user.user_name %>
				</div>
				<div>
				   投稿日：<%= review.created_at.strftime('%Y/%m/%d') %>
				</div>
				<div class="comment-box">
				   コメント：<%= review.comment %>
				</div>
				<div class="comment-delete">
					<% if review.user == current_user %>
					<%= link_to "削除",product_review_path(product_id: @product.id, id: review.id), method: :delete %>
					<% end %>
				</div>
			  </li>
			 <% end %>
			</ol>
		</div>

           <% if user_signed_in? %>
		<div class="product-comment-newbox">
			レビューを書く
			<%= form_for [@product, @review] do |f| %>

                <%= f.text_area :comment, rows:'5', class: "form-control"%>
                 <%= f.submit "送信する", class: "btn btn-lg btn-primary btn-block pull-right" %>
             <% end %>
		</div>
		<% end %>

		<div class="newproduct-space3 clearfix">
			<div class="product-heading">関連商品一覧</div>

			<!-- test -->
			<% @same_genre.shuffle.first(5).each do |t| %>
			<%= link_to product_path(t), :style=>"text-decoration: none; color:black;" do %>
			<div class="rankin-product">

				<div class="ranking-image"><%= attachment_image_tag t, :image, :fill, 92, 90, format: 'jpeg' %></div>
				<div class="ranking-artist-text"><%= t.artist.artist_name %></div>
				<div class="ranking-product-text"><%= t.product_name %></div>
			</div>
			<% end %>
			<% end %>
			<!-- test end -->
		</div>
	</div>
</div>
