<!-- main部分 -->
<div class="top-main">
	<div class="sidebar-space"></div>
	<div class="genre-box">
		<div class="genre-title">
			<p class="genre-title-text">カテゴリーで探す</p>
		</div>
		<ul class="genre-list">
<!-- ジャンル検索 -->

			<% @genres.each do |genre| %>
				<%=link_to genre_path(genre), :style=>"text-decoration: none;" do %>
				<li class="genre-list-item">
					<%= genre.genre_name %>
				</li>
				<% end %>
			<% end %>
		</ul>
	</div>
	<div class="top-box">
		<div class="swipe-space">
			<div class="sample sample01">
		  <div class="swiper-container">
		    <div class="swiper-wrapper">
		      <div class="swiper-slide pic1"></div>
		      <div class="swiper-slide pic2"></div>
		      <div class="swiper-slide pic3"></div>
		      <div class="swiper-slide pic4"></div>
		    </div>

		    <div class="swiper-pagination"></div>
		    <div class="swiper-button-prev"></div>
		    <div class="swiper-button-next"></div>
		  </div>
		</div>


		</div>
		<div class="ranking-space">
			<div class="product-heading">売上ランキング</div>

			<% @same_genre.order("order_item_count DESC").first(5).each_with_index do |r, i|%>
			<%= link_to product_path(r), :style=>"text-decoration:none; color:black;" do %>
			<div class="rankin-product">
				<div class="ranking-integer"><%= "#{h(i + 1)}位" %></div>
				<div class="ranking-image"><%= attachment_image_tag r, :image, :fill, 130, 130, format: 'jpeg' %></div>
				<div class="ranking-artist-text"><%= r.artist.artist_name %></div>
				<div class="ranking-product-text"><%= r.product_name %></div>
			</div>
			<% end %>
			<% end %>
		</div>

		<div class="newproduct-space">
			<div class="product-heading">新着一覧</div>
			<% @same_genre.order("release DESC").first(5).each do |t| %>
			<%= link_to product_path(t), :style=>"text-decoration: none; color:black;" do %>
			<div class="rankin-product">
				<div class="ranking-integer">発売日：<%= t.release %></div>
				<div class="ranking-image"><%= attachment_image_tag t, :image, :fill, 130, 130, format: 'jpeg' %></div>
				<div class="ranking-artist-text"><%= t.artist.artist_name %></div>
				<div class="ranking-product-text"><%= t.product_name %></div>
			</div>
			<% end %>
			<% end %>

		</div>
	</div>
</div>

<script type="text/javascript">
window.addEventListener('DOMContentLoaded', function() {
  var swiper = new Swiper('.sample01 .swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    slidesPerView: 2,
    spaceBetween: 10,
    centeredSlides : true,
    effect: "slide",
    autoplay: '5000',
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    loop: true
  });
}, false);

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
