<!DOCTYPE html>
<html>

  <head>
    <title>SquareMusic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
  </head>


  <body>
  <div class="header-padding">
    <header>
<!-- ログイン状態の条件分岐 -->
	<!-- admin条件分岐 -->
	<% if admin_signed_in? %>
	<div class="header-links">
		

		<div class="link3"><%= link_to "USER一覧", users_path, :style=>"color:white;" %></div>
		<div class="link2"><%= link_to "購入履歴一覧", orders_path, :style=>"color:white;" %></div>
		<div class="link3"><%= link_to "登録商品一覧", products_path, :style=>"color:white;" %></div>
		<div class="link2"><%= link_to "商品登録", new_product_path, :style=>"color:white;" %></div>
		<div class="link3"><%= link_to "お問い合わせ一覧", contacts_path, :style=>"color:white;" %></div>
		<div class="link3"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, :style=>"color:white;" %></div>
	</div>
	<div class="header-sub">
		<div class="header-text2">
			<p class="header-text3">管理者としてログイン中</p>
		</div>
	<!-- admin条件分岐終わり -->

	<!-- user条件分岐 -->
	<% elsif user_signed_in? %>

	<div class="header-links">
    <% cart = Cart.find_by(user_id: current_user.id) %>
		<%= link_to cart_path(cart) do %>
		<div class="link1">カートを確認</div><% end %>
		<div class="link2"><%= link_to "マイページ", user_path(current_user.id), :style=>"color:white;" %></div>
		<div class="link3"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, :style=>"color:white;" %></div>

	</div>
	<div class="header-sub">
		<div class="header-text2">
			<p class="header-text3">ようこそ! <%= current_user.user_name %>さん</p>
		</div>
	<!-- user条件分岐終わり -->


	<!-- ゲスト条件分岐 -->
	<% else %>
	<div class="header-links">
		<div class="link2"><%= link_to "新規登録", new_user_registration_path, :style=>"color:white;" %></div>
		<div class="link3"><%= link_to "ログイン", new_user_session_path, :style=>"color:white;" %></div>
	</div>
		<div class="header-sub">
			<div class="header-text2">
				<p class="header-text3">ようこそ! ゲストさん</p>
			</div>
	<!-- ゲスト条件分岐終わり -->

	<% end %>
<!-- 条件分岐終わり -->
			<a href="/"><div class="header-logo"></div></a>
			<div class="search-space">
			<%= search_form_for @search, url: products_search_path, html: {class: 'form-inline'}  do |f| %>
				<div>
				<%= f.text_field :product_name_or_product_phonetic_cont, class: "search-form form-control",:size => '30', placeholder: '商品名検索' %>
				</div>
				<div class="search-form-btn"><%= f.submit "Search", class: 'btn btn-default btn-sm' %></div>
			<% end %>
		</div>
	</div>
	</div>
</header>
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
  <% end %>
<% if notice %>
　　<p class="message"><%= notice %></p>
<% end %>

<% if alert %>
   <p class="message"><%= alert %></p>
<% end %>
<%= yield %>


<footer class="clearfix">
    <div class="footer">株式会社スクエアミュージック<br>
    	〒444-4444 東京都四角区スクエア4丁目 スクエアレジデンス<br>
    	Tel/Fax 44-4444-4444
      </div>
        <div class="footer-link">
      	  <%= link_to "TOPへ" ,root_path ,:style=>"color:white;"%>
      	｜<%= link_to "よくある質問" ,question_path ,:style=>"color:white;"%>
      	｜<%= link_to "お問い合わせ" ,new_contact_path ,:style=>"color:white;"%>
      </div>
		<div class="footer-logo">
	  </div>
    </footer>
  </body>

</html>
