<section class="signup_container">
  <div class="headline_box">
    <h2 class="signup_headline">会員登録</h2>
  </div>
  <div class="procedure_container clearfix">
  <div class="procedure_content_1">
    会員情報入力
  </div>
  <div class="kigou">&#9654;</div>
  <div class="procedure_content_2">
    入力内容確認
  </div>
  <div class="kigou">&#9654;</div>
  <div class="procedure_content_3">
    登録完了
  </div>
  </div>
  <table border="1" class="signup_table">


    <%= form_for @user, url: {action: "confirm"} do |f| %>


      <%= devise_error_messages! %>
      <tr>
        <div class="field">
          <td class="td_color"><%= f.label :氏名,class: "label_name"%><br /> </td>
          <td><%= f.text_field :user_name%></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td class="td_color"><%= f.label :フリガナ,class: "label_name" %><br /></td>
          <td><%= f.text_field :user_phonetic %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td class="td_color"><%= f.label :郵便番号,class: "label_name" %><br />
          <div><em class="em_text">(ハイフン抜きで入力して下さい)</em></div></td>
          <td><%= f.text_field :postal %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td class="td_color"><%= f.label :住所,class: "label_name" %><br /></td>
          <td><%= f.text_field :address %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td class="td_color_pass"><%= f.label :電話番号,class: "label_name" %><br />
          <div><em class="em_text">(ハイフン抜きで入力して下さい)</em></div></td>
          <td><%= f.text_field :tell %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td class="td_color"><%= f.label :メールアドレス,class: "label_name" %><br /></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td class="td_color_pass"><%= f.label :パスワード,class: "label_name" %>
            <div><em class="em_text">(6文字以上で入力して下さい)</em></div>
          </td>
          <td><%= f.password_field :password, autocomplete: "off" %></td>

          <br />
        </div>
      </tr>

      <tr>
        <div class="field">
          <td class="td_color"><%= f.label :パスワード確認,class: "label_name" %><br /></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
        </div>
      </tr>
    </table>

    <div class="actions">
      <%= f.submit "確認",class: "signup_btn" %>
    </div>
    <% end %>

    <%= render "users/shared/links" %>
</section>
